[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
tqdm = "*"
numpy = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
nose = "*"
emaillib = "*"
freezegun = "*"

[dev-packages]

[scripts]
doctest = "pytest --doctest-modules ./sample_lib"
test = "pytest ./test --durations=10"
test-pdb = "pytest ./test --durations=10 --pdb"
test-cov = "pytest ./test --cov=./sample_lib --cov-report=term-missing"
test-cov-html = "pytest ./test --cov=./sample_lib --cov-report=html"
