[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
tqdm = "*"
numpy = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
nose = "*"
emaillib = "*"

[dev-packages]

[scripts]
doctest = "pytest --doctest-modules ./sample_lib"
test = "pytest ./test"
